{% extends no_left_menu == true ? "TisseoTidBundle::container.html.twig" : "TisseoTidBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block main_content -%}
<div class="col-md-12" role="main">
    <h1>{% block list_title -%}{% endblock %}</h1>
    {% block line_comment -%}{% endblock %}
    {% block list_menu -%}{% endblock %}
    <table class="table {% block table_classes -%}table-hover{% endblock %}">
        <thead>
            <tr>
               {% block table_head -%}{% endblock %}
            </tr>
        </thead>
        <tbody>
        {% block table_body -%}
        {% endblock %}
        </tbody>
    </table>
    {% block list_pagination -%}
    {% endblock %}
</div>
{% endblock %}