<div class="item row" data-number="{% if number is defined %}{{ number }}{% endif %}">
    <div class="col-md-5">
        {{ form_row(form.line) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.schematic) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.delete, {'label': '<span class="glyphicon glyphicon-minus"></span>', 'attr': {'class': 'btn btn-danger btn-xs small-button delete-item-collection-btn bottom'}}) }}
    </div>
</div>
