{% extends "TisseoDatawarehouseBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block main_content %}
    <h1>{{ 'tid_welcome'|trans({}, 'default') }}</h1>
    <hr/>
{% endblock %}
