<tbody class="grid-calendar new-droppable">
    <tr class="active">
        <input type="hidden" class="grid-calendar-row" value="{% if gridCalendar.id %}{{ gridCalendar.id }}{% else %}new{% endif %}"></input>
        <td class="name">{{ gridCalendar.name }}</td>
        {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
        <td class="day"><div class="calendar-day{% if attribute(gridCalendar, day) %} green-day {% else %} red-day {% endif %}"></div></td>
        {% endfor %}
        <td><button class="btn btn-xs btn-danger small-button delete-calendar"><span class="glyphicon glyphicon-minus"></span></button></td>
    </tr>
</tbody>
