#application-navbar.container .navbar.navbar-default .navbar-brand a {
    font-size:1em;
}
div.form {
    border-radius:5px;
    border:1px solid #ccc;
}
div.form-consult {
    padding:10px 0;
    margin:10px 0;
}
div.form-edit {
    padding:10px 10px 10px 0;
    margin:10px 0;
}
div.form-consult .left-summary {
    width:70%;
    display:inline-block;
}
div.form-consult .right-summary {
    width:20%;
    float:right;
    display:inline-block;
}
.line-small {
    height:30px;
    width:30px;
    line-height:32px;
}
.line-big {
    height:60px;
    width:60px;
    line-height:62px;
}
.line-number {
    border-radius:3px;
    text-align:center;
    padding:0 5px;
}
.form ul {
    list-style:none;
    padding-left:20px;
}
.form ul li {
    line-height: 1.5em;
}
