/* link displayed in all nmm views (navbar) */
#paon_line_version_edit_line,
#paon_line_version_line {
    width:20%;
}
/* line number rendering */
li.child-line {
    padding-top:10px;
    display:block;
}
.child-line div {
    display:inline-block;
}
/* calendar form rendering */
.calendar-container {
    display:inline-block;
}
.calendar-color {
    display:inline-block;
    width:20px;
    height:10px;
}
table .grid-mask-type {
    cursor:pointer;
}
.trip-calendar {
    padding-left:5px;
}
.title {
    min-height:55px;
}
/* exception list/form rendering */
.exception-calendar {
    display:none;
}
.exception-calendar tr {
    cursor:pointer;
}
.exception-calendar tr.edit-comment,
.exception-calendar tr.edit-comment:hover {
    background-color:#A9D0F5;
}
.head-info {
    display:inline-block;
    margin-bottom:20px;
}
.head-info .head-menu,
.head-info .head-number {
    display:inline-block;
}
.head-number {
    float:right;
}
.head-number div {
    display:inline-block;
}
.head-number .line-big {
    float:right;
    margin-bottom:5px;
}
.head-menu {
    float:left;
    text-align:left;
    width:40%;
}
.head-menu .choice {
    display:inline;
}
.head-menu .choice select,
.head-menu .choice button {
    display:block;
    float:left;
}
.head-menu .choice select {
    width:60%;
    margin-right:10px;
}
.head-menu .title-choice {
    font-weight:bold;
    font-size:1.2em;
    margin-bottom:10px;
}
/* line version list */
.mode-icon {
    float:left;
    margin-right:10px;
}
.mode-bus {
    background:0 0px;
}
.mode-métro {
    background:0 -27px;
}
.mode-tramway {
    background:0 -56px;
}
.mode-tad {
    background:0 0px;
}
/* data exchange */
.job-running {
    color:gray;
}
/* schematic */
.schematic-updating, .schematic-updating.even, .schematic-updating.odd {
    color:rgb(255, 0, 0);
    background-color:rgba(255, 0, 0, 0.1);
}
.schematic-content-form {
    display:none;
}
.schematic-min-width-field {
    width:60px;
}
/* popover thumb */
#thumb .popover {
    max-width:none;
}
tr.customDanger td{
    background-color:#ba6a6a;
}
tr.customWarning td{
    background-color:#E5AB3F;
}
img.thumb {
    height:250px;
    width:600px;
    padding:10px;'
}
