<div class="col-md-12 table-schematic">
{{
    include ("TisseoTidBundle:LineSchema:partial_table_list_schema.html.twig",
        {
            'schematics': schematics,
            'schematicId': schematicId
        }
    )
}}
</div>